// Colors
$primary: #000000;     
$secondary: #333333;    
$background: #f4f4f4;  
$card-bg: #ffffff;     
$list-bg: #dfdede;      
$button-bg: #dfdede;   
$button-text: #000000;  
$modal-bg: rgba(0,0,0,0.4); 


// Font
$font-sans: 'Geist', sans-serif;
$font-mono: 'Geist Mono', monospace;

// Sizes
$border-radius: 4px;
$card-padding: 12px;
$list-padding: 12px;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
